<!-- <div class="row collapse all-post search-group">
  <div class="small-10 columns">
    <input type="text" placeholder="Search" id="search-box"></input>
  </div>
  <div class="small-2 columns">
    <a href="#" id="home-search-button" class="button postfix search-submit"><i class="fa fa-search"></i></a>
  </div>
</div> -->

<div class="row">
  <div class="small-12 columns first all-post-header">
  	<h1>Articles</h1>
  </div>
</div>

<div class="row">
  <div class="small-12 columns">
  	<% @posts.each do |post| %>
    <div class="all-post-link">
  	  <a href="<%=post_url(post.id) %>"> <%= post.title %> </a>
    </div>
      <div class="all-post-body">
        <%= strip_tags(post.body)[0,100] %>...
      </div>
      <div class="all-post-section all-post-tags">
        <i class="fa fa-tags"></i><span class="post-tag-header">TAGS:</span>
        <% post.tags.each do |tag| %>
          <%= link_to tag.name, tagged_url(:tag => tag.name), :class=>"featured-tag" %>
        <% end %>
      </div>
      <div class="all-post-section all-post-modified">
        <i class="fa fa-clock-o"></i><span class="post-tag-header">UPDATED:</span>
        <% @time = (Time.now.getutc - post.updated_at).to_i %>
        <% case @time %>
        <% when 0...45 %>
        <%= "A few seconds ago" %>
        <% when 45...90 %>
        <%= "About a minute ago" %>
        <% when 90...3600 %>
        <%= (@time / 60).to_s + " minutes ago" %>
        <% when 3601...(3600*2-1) %>
        <%= "Over an hour ago" %>
        <% when 3600*2...(3600*24-1) %>
        <%= (@time/3600).to_s + " hours ago" %>
        <% when 3600*24...(3600*24*365-1) %>
        <%= (@time/3600*24).to_s + " days ago" %>
        <% when 3600*24*365...3600*24*365*2 %>
        <%= "Over a year ago" %>
        <% else %>
        <%= "Over" + (@time/3600*24*365) + " years ago" %>
        <% end %>
      </div>
  	  <br />
  	<% end %>
  </div>
</div>

<!-- Static Pagination @TODO -->
<!-- <div class="row">
  <div class="small-8 small-centered columns center last pagination-wrapper">
    Page <span class="page-selected">1</span>
    <span class="page">2</span>
    <span class="page">3</span>
    <span class="page-ellipsis">...</span>
    <span class="page">9</span>
  </div>
</div> -->
