<a href = "/posts/">back</a>
<div class="row">
  <div class="large-12 columns">
    <h1>Create Post</h1>
  </div>
</div>

<%= form_for @post, url: {action: "create"}, html: {class: "create-form"} do |f| %>
  <div class="row">
    <div class="large-12 columns"> 
        <label>Title:</label>
        <%= f.text_field :title %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="large-12 columns">
      <label>Body:</label>
      <div id="post_body_editor" style = "min-height: 250px"></div>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="large-12 columns">
      <label>Insert any tags here separated by commas...</label>
      <%= f.text_field :tag_list %>
    </div>
  </div>
  <div class = "row">
    <div class="large-2 columns">&nbsp;</div>
    <div class="large-8 columns">
      <%= f.submit "Create", {class: "button expand"} %>
    </div>
    <div class="large-2 columns">&nbsp;</div>
  </div>
  <%= f.text_area :body, style: ["display: none"] %>

<% end %>
