<%= form_for @post, url: {action: "create"}, html: {class: "create-form"} do |f| %>
  <div class="row">
    <div class="large-12 columns first new-post-header">
        <%= f.text_field :title, {class: "new-post-title", placeholder: "Title", autofocus: true}  %>
      </div>
    </div>
  </div>
  
  <div class="row">
    <div class="large-12 columns new-post-body">
      <div id="post_body_editor" style = "min-height: 250px">
        Write here...
      </div>
    </div>
  </div>
  
  <br>
  
  <div class="row">
    <div class="large-12 columns new-post-tags">
      <span>
        <i class="fa fa-tags"></i>
        <%= f.text_field :tag_list, {class: "new-tags", placeholder: "Enter tags here"} %>
      </span>
    </div>
  </div>
  
<!--Attachments? -->
  <!-- <div class="row">
    <div class="large-12 columns attachments-wrapper">
      <span>
        <i class="fa fa-paperclip"></i>
        <div class="add-attachments">Any attachments?</div>
      </span>
    </div>
  </div> -->
  
  <div class = "row">
    <div class="large-2 columns">&nbsp;</div>
    <div class="large-8 columns">
      <%= f.submit "Publish", {class: "new-post-btn full-page-btn"} %>
    </div>
    <div class="large-2 columns">&nbsp;</div>
  </div>
  
  <%= f.text_area :body, style: ["display: none"] %>

<% end %>
