
<div class="row" id="wiki-title">
  	<input id ="wiki-title-input" type="text" value="<%= @post.title %>" disabled/>
</div>

<p />

<div class="row" id="wiki-content">
  <%=@post.body != nil ? @post.body.html_safe : "<br>".html_safe %>
</div>

<p />

<div class="row" id="wiki-tags">
  <i class="fa fa-tags"></i><span class="post-tag-header">TAGS:</span>
  <!-- <input type="text" id = "wiki-tags-input" value="<%= @post.tag_list %>"/> -->
  <% @post.tags.each do |tag| %>
    <%= link_to tag.name, tagged_url(:tag => tag.name), :class=>"featured-tag" %>
  <% end %>


</div>

<div class="row">
  <div class="small-12 columns last">
    <span id = "wiki-save" style="display:none">
      You're editing your article! <br />
      <a style="color:blue;text-decoration:underline;cursor:pointer;" onclick="Page.performPageAction('save', JSON.parse('<%=escape_javascript(@post.to_json) %>'))">Save</a> | <a style="color:blue;text-decoration:underline;cursor:pointer;" onclick="Page.performPageAction('undo')">Undo</a>
    </span>
  </div>
</div>
