<!DOCTYPE html>
<html>
<head>
  <title>Chegg Delta</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body data-controller="<%= controller_name %>" data-action="<%= action_name %>">

<!-- Nav right menu icon -->
<div id="nav-links"><a class="fa-bar-link" href="#"><i class="fa fa-bars"></i></a><a href="/posts/new"><i class="fa fa-plus-circle"></i></a></div>

<!-- Tag overlay -->
<div id="tag-overlay">
  <a class="fa-times-link"><i class="fa fa-times"></i></a>
  <div class="row">
    <div class="small-11 small-centered columns first center">
      <span class="navigate-header">NAVIGATE BY TAG</span>
    </div>
  </div>
  <div class="row">
    <div class="small-12 small-centered columns tags-overlay-wrapper">
    </div>
  </div>
</div>

<%= yield %>

</body>
</html>
